@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&family=Josefin+Sans:wght@500&family=Tangerine:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1601046296534-4a5da114f78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1793&q=80);
  background-color: black;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
  -o-object-position: 100% 15%;
     object-position: 100% 15%;
  height: 653px;
  z-index: 0;
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  height: 25rem;
  width: 20rem;
  border-radius: 10px;
  z-index: 1;
}

h1 {
  font-family: 'Tangerine', cursive;
  color: bisque;
  font-size: 36pt;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  color: bisque;
  text-align: center;
  font-size: large;
  padding: 0 1rem;
  font-weight: 400;
}

p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: bisque;
  font-size: xx-small;
  text-align: center;
  padding: 1rem;
}

.loading-p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: bisque;
  font-size: large;
  font-style: italic;
}

.fortune-p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: bisque;
  font-size: larger;
}

@-webkit-keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  color: bisque;
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
          animation: pulsate 0.11s ease-in-out infinite alternate;
  padding: 8px;
  margin: 1rem 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: black;
  -webkit-box-shadow: 0 10px 10px 0 rgba(206, 64, 107, 0.5);
          box-shadow: 0 10px 10px 0 rgba(206, 64, 107, 0.5);
  font-size: larger;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(206, 64, 107, 0.5), 0 17px 50px 0 #f09;
          box-shadow: 0 12px 16px 0 rgba(206, 64, 107, 0.5), 0 17px 50px 0 #f09;
}

.fortune-div {
  margin-top: 2%;
  font-size: large;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: bisque;
}

@media only screen and (min-width: 481px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */